<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/css/styleChat.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="js/datepicker/datepicker.js"></script>
  </head>
  <body>

    <div class="navbar navbar-dark bg-primary">
      <i class="">
        <a class="nav-item nav-link navtext fas fa-sign-out-alt fa-2x" href="/logout"></a>
      </i>
      <a class="navbar-brand navbar-center" href="#">Chat App</a>
      <i>
        <a class="nav-item nav-link navtext navbar-right fas fa-cog fa-2x" role="button" data-target="#modal" data-toggle="modal" href="#"></a>
      </i>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="del" action="/del" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Poruke od:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="date" class="form-control" id="datum" name="datum" reqired>
            </div>
            <div class="modal-footer">
              <input type="button" onclick="checkDel()" class="btn btn-link text-danger mr-auto" value="OBRIŠI sve starije od ovog datuma"></input>
              <input type="submit" formaction="/date" class="btn btn-success" value="Prikaži"></input>
            </div>
          </form>
        </div>
      </div>
    </div>

    <ul class="h-scroll w-100" id="messages"></ul>

    <form action="/" method="post" id="chatForm">
      <div>
        <i id="typing"></i>
      </div>
      <input type="text" id="txt" autocomplete="off" autofocus="on" placeholder="Poruka..."/><button>Pošalji</button>
    </form>

    <script src="js/chat.js"></script>
  </body>
</html>
